/*----------------------
Get integer from unit size
/// @param {Unit} $n - Initial Unit
-----------------------*/

/*----------------------
Replace `$search` with `$replace` in `$string`
-----------------------*/

/*----------------------
Responsive breakpoints
-----------------------*/

/*----------------------
Rem font unit with px fallback and optional line height
-----------------------*/

/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/

.cc--hide {
	display: none;
}

.cc--gray {
	color: #757575;
}

.cc--filters-on {
	overflow: hidden;
}

.cc-checkbox {
	display: block;
}

.cc-checkbox > label {
	display: inline-block !important;
	margin: 0 !important;
	cursor: pointer;
	position: relative;
	padding-left: 24px;
	font-weight: normal !important;
	line-height: 20px;
	color: #212121;
}

.cc-checkbox > label > span {
	color: #212121;
	font-weight: normal !important;
}

.cc-checkbox > label:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	display: block;
	margin-right: 8px;
	width: 16px;
	height: 16px;
	border: 1px solid #BDBDBD;
	-webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
	-o-transition: border-color 0.2s ease, background-color 0.2s ease;
	transition: border-color 0.2s ease, background-color 0.2s ease;
}

.cc-checkbox > label:after {
	position: absolute;
	content: '';
	pointer-events: none;
	display: block;
	width: 5px;
	height: 9px;
	border: solid white;
	border-width: 0 2px 2px 0;
	top: 5px;
	left: 6px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.cc-checkbox input {
	display: none !important;
}

.cc-checkbox input:not(:disabled):not(:checked) ~ label:hover:before {
	background-color: rgba(180, 30, 68, 0.4);
}

.cc-checkbox input:checked ~ label:before {
	background-color: #B41E44;
	border-color: #B41E44;
}

.cc-checkbox input:checked ~ label:after {
	opacity: 1;
}

.cc-checkbox input:disabled ~ label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: not-allowed;
	opacity: 0.8;
}

.cc-icon {
	display: block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	fill: currentColor;
	width: 1em;
	height: 1em;
}

.cc-icon.cc--inline {
	display: inline-block;
}

.cc-section {
	width: 100%;
	margin: 50px 0;
	padding: 0 !important;
	line-height: 1.25;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cc-section * {
	line-height: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.cc-container {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 22px;
}

.cc-container.cc--small {
	max-width: 988px;
}

.cc-title {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 60px;
	color: #212121;
}

.cc-right {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.cc-sidebar {
	width: 300px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.cc-sidebar__container {
	height: 100%;
	width: 100%;
	background-color: white;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	position: relative;
	z-index: 2;
}

.cc-sidebar__filter-list {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	position: relative;
}

.cc-sidebar__title {
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
	padding: 20px 17px;
	border-bottom: 1px solid #EEEEEE;
	color: #212121;
	margin-bottom: 20px;
}

.cc-sidebar__section {
	padding: 0 17px;
	margin-bottom: 35px;
}

.cc-sidebar__section .cc__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
}

.cc-sidebar__section .cc__header:before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: -7px;
	width: calc(100% + 14px);
	height: 100%;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	-webkit-backface-visibility: hidden;
	background-color: rgba(180, 30, 68, 0.1);
	border-radius: 8px;
}

.cc-sidebar__section .cc__header:hover {
	cursor: pointer;
	text-decoration: none;
}

.cc-sidebar__section .cc__header:hover:before {
	-webkit-transition-duration: 85ms;
	-o-transition-duration: 85ms;
	transition-duration: 85ms;
	opacity: 0.6;
}

.cc-sidebar__section .cc__header.cc--open .cc__icon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.cc-sidebar__section .cc__icon {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 10px;
	font-size: 14px;
	color: #212121;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.2s ease;
	transition: -webkit-transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
	transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.cc-sidebar__apply .cc__apply-button {
	display: block;
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 14px 17px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #B41E44;
	border-radius: 0;
	color: white;
	font-size: 16px;
	font-weight: bold;
	opacity: 1;
	-webkit-transition: background-color 0.2s ease, opacity 0.2s ease;
	-o-transition: background-color 0.2s ease, opacity 0.2s ease;
	transition: background-color 0.2s ease, opacity 0.2s ease;
	text-decoration: none;
}

.cc-sidebar__apply .cc__apply-button:hover {
	background-color: #881733;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.cc-sidebar__apply .cc__apply-button.cc--hidden {
	display: none;
	pointer-events: none;
}

.cc-sidebar ul.cc__filter-list {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.cc-sidebar .cc__filter {
	padding-top: 20px;
}

.cc-sidebar .cc__filter-item {
	font-size: 16px;
	color: #212121;
	margin: 0;
}

.cc-sidebar .cc__filter-item:not(:last-child) {
	margin: 0 0 20px;
}

.cc-sidebar .cc__filter-count {
	font-size: 16px;
	color: #9E9E9E;
}

.cc-sidebar .cc__filter-more {
	margin-top: 20px;
}

.cc-sidebar .cc__filter-more a {
	position: relative;
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	margin: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #B41E44;
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
}

.cc-sidebar .cc__filter-more a:focus {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #B41E44;
}

.cc-sidebar .cc__filter-more a::-moz-focus-inner {
	padding: 0;
}

.cc-sidebar .cc__filter-more a:hover {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #B41E44;
}

.cc-sidebar .cc__filter-search {
	margin-bottom: 15px;
}

.cc-sidebar .cc__filter-search-container {
	position: relative;
}

.cc-sidebar .cc__filter-search-input {
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: white;
	font-weight: normal;
	color: #212121;
	border-radius: 8px;
	border: 1px solid #E0E0E0;
	-webkit-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
	font-size: 16px;
	padding: 13px 40px 13px 16px;
}

.cc-sidebar .cc__filter-search-input::-webkit-input-placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-sidebar .cc__filter-search-input::-moz-placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-sidebar .cc__filter-search-input:-ms-input-placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-sidebar .cc__filter-search-input::-ms-input-placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-sidebar .cc__filter-search-input::placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-sidebar .cc__filter-search-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	border-color: #757575;
}

.cc-sidebar .cc__filter-search-input[readonly] {
	border: 1px solid #BDBDBD;
}

.cc-sidebar .cc__filter-search-input[readonly]:focus {
	border: 1px solid #BDBDBD;
}

.cc-sidebar .cc__filter-search-input[disabled] {
	cursor: not-allowed;
	opacity: 0.6;
}

.cc-sidebar .cc__filter-search-input[disabled]:focus {
	border: 1px solid #E0E0E0;
}

.cc-sidebar .cc__filter-search-icon {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 13px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	pointer-events: none;
	color: rgba(33, 33, 33, 0.5);
	font-size: 16px;
}

.cc-sidebar .cc__filter-search-reset {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 13px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cc-sidebar .cc__filter-search-reset .cc__reset {
	display: block;
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	color: rgba(33, 33, 33, 0.5);
	font-size: 16px;
	-webkit-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.cc-sidebar .cc__filter-search-reset .cc__reset:hover {
	color: #212121;
}

.cc-stats {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #212121;
}

.cc-stats__total {
	display: inline;
	font-weight: normal;
}

.cc-search-box {
	width: 100%;
	border-radius: 8px;
	background: white;
	border: 1px solid #EEEEEE;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	margin-bottom: 16px;
}

.cc-search-box__container {
	position: relative;
}

.cc-search-box .cc__input {
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	font-weight: normal;
	color: #212121;
	border-radius: 8px;
	border: none;
	font-size: 16px;
	padding: 21px 50px 22px 26px;
}

.cc-search-box .cc__input::-webkit-input-placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-search-box .cc__input::-moz-placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-search-box .cc__input:-ms-input-placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-search-box .cc__input::-ms-input-placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-search-box .cc__input::placeholder {
	color: #757575;
	font-weight: normal;
}

.cc-search-box .cc__input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	border-color: #757575;
}

.cc-search-box .cc__input[readonly] {
	border: 1px solid #BDBDBD;
}

.cc-search-box .cc__input[readonly]:focus {
	border: 1px solid #BDBDBD;
}

.cc-search-box .cc__input[disabled] {
	cursor: not-allowed;
	opacity: 0.6;
}

.cc-search-box .cc__input[disabled]:focus {
	border: 1px solid #E0E0E0;
}

.cc-search-box__icon {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 26px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	pointer-events: none;
	color: rgba(33, 33, 33, 0.5);
	font-size: 16px;
}

.cc-search-box__reset {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 26px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cc-search-box__reset .cc__reset-button {
	display: block;
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	color: rgba(33, 33, 33, 0.5);
	font-size: 16px;
	-webkit-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.cc-search-box__reset .cc__reset-button:hover {
	color: #212121;
}

.cc-search-results {
	position: relative;
}

.cc-search-results:before {
	content: '';
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.15s ease;
	-o-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
}

.cc-search-results:after {
	content: '';
	position: absolute;
	z-index: 4;
	top: 10%;
	left: 50%;
	margin-left: -15px;
	border: 3px solid white;
	border-radius: 50%;
	border-top: 3px solid #B41E44;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.15s ease;
	-o-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
}

.cc-search-results.cc--loading {
	pointer-events: none;
	opacity: 0.7;
}

.cc-search-results.cc--loading:before,
.cc-search-results.cc--loading:after {
	opacity: 1;
}

.cc-search-results__none {
	width: 100%;
	background-color: white;
	padding: 50px 20px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cc-search-results__none .cc__icon {
	margin-bottom: 20px;
}

.cc-search-results__none .cc__text {
	text-align: center;
	font-size: 20px;
}

.cc-search-results__none .cc__reset {
	margin-top: 20px;
}

.cc-search-results__none .cc__reset-button {
	display: block;
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 14px 17px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #B41E44;
	border-radius: 0;
	color: white;
	font-size: 16px;
	font-weight: bold;
	opacity: 1;
	-webkit-transition: background-color 0.2s ease, opacity 0.2s ease;
	-o-transition: background-color 0.2s ease, opacity 0.2s ease;
	transition: background-color 0.2s ease, opacity 0.2s ease;
	text-decoration: none;
}

.cc-search-results__none .cc__reset-button:hover {
	background-color: #881733;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.cc-search-results__list {
	list-style: none;
	margin: 0 -5px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cc-search-results__item {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 12px;
	background-color: white;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.2s ease;
	transition: -webkit-transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
	transition: transform 0.2s ease, -webkit-transform 0.2s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cc-search-results__item:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.cc-search-results__item .cc__link {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #212121;
	padding: 25px 20px;
}

.cc-search-results__item .cc__flag {
	position: absolute;
	z-index: 2;
	right: 17px;
	top: 17px;
	width: 16px;
	height: 16px;
}

.cc-search-results__item .cc__flag img {
	display: block;
	width: 100%;
	height: 100%;
}

.cc-search-results__item .cc__image {
	height: 104px;
	margin-bottom: 15px;
}

.cc-search-results__item .cc__image img {
	display: block;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
	width: 100%;
	height: 100%;
}

.cc-search-results__item .cc__title {
	color: #212121;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

.cc-search-results__item .cc__meta {
	font-size: 14px;
	text-align: center;
	color: #757575;
}

.cc-search-results__item .cc__meta-line:not(:last-child) {
	margin-bottom: 2px;
}

/* Safari */

.cc-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 12px 16px;
	background-color: white;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
}

.cc-footer__stats {
	font-size: 16px;
	color: #9E9E9E;
}

.cc-footer__stats b {
	color: #212121;
}

.cc-pagination {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.cc-pagination__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	margin-left: -4px;
	margin-right: -4px;
}

.cc-pagination__list li {
	margin: 0 4px;
}

.cc-pagination__list li .page-numbers {
	text-decoration: none !important;
	color: #212121;
	font-weight: bold;
	min-width: 32px;
	height: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 8px;
	cursor: pointer;
	padding: 0 10px;
	font-size: 16px;
	-webkit-transition: color 0.2s ease, background-color 0.2s ease;
	-o-transition: color 0.2s ease, background-color 0.2s ease;
	transition: color 0.2s ease, background-color 0.2s ease;
	background-color: #EEEEEE;
}

.cc-pagination__list li .page-numbers:hover {
	color: #B41E44 !important;
	text-decoration: none !important;
}

.cc-pagination__list li .page-numbers.current {
	background-color: #B41E44;
	color: white !important;
}

.cc-product {
	background-color: white;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.cc-product__image img {
	display: block;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
	width: 100%;
	height: 100%;
}

.cc-product__details img {
	display: block;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
	width: 100%;
	height: 100%;
}

.cc-product__info {
	margin-bottom: 40px;
	line-height: 24px;
}

.cc-product__info-item {
	margin-bottom: 30px;
	font-size: 16px;
}

.cc-product__info-item b {
	font-size: 16px;
	font-weight: bold;
	color: #212121;
}

.cc-product__info-item p {
	font-size: 16px;
	margin: 0;
	color: #757575;
}

.cc-product__info-item p:not(:last-child) {
	margin-bottom: 10px;
}

.cc-product__specifications-title {
	font-weight: bold;
	margin-bottom: 20px;
}

.cc-product__specifications-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cc-product__specifications-list .cc__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 20px;
	margin: 0;
}

.cc-product__specifications-list .cc__item:nth-child(odd) {
	background-color: #F5F5F5;
}

.cc-product__specifications-list .cc__label {
	font-size: 16px;
	color: #757575;
	width: 45%;
}

.cc-product__specifications-list .cc__value {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	color: #212121;
	width: 55%;
}

.cc-product__specifications-list .cc__flag {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.cc-product__specifications-list .cc__flag img {
	display: block;
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 751px) {

.cc-container {
	padding: 0 22px;
}

.cc-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.cc-right {
	padding-left: 11px;
}

.cc-sidebar__container {
	border-radius: 8px;
	padding-bottom: 1px;
}

.cc-sidebar__title .cc__close {
	display: none;
}

.cc-sidebar__apply {
	padding: 0 17px;
}

.cc-sidebar__apply .cc__apply-button {
	width: 266px;
	margin-bottom: 20px;
}

.cc-phone-filter {
	display: none;
}

.cc-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px 20px 45px;
}

.cc-product__image {
	width: 45%;
	height: 458px;
}

.cc-product__details {
	width: 55%;
	padding-left: 30px;
}

.cc-product__title {
	font-size: 42px;
	font-weight: bold;
	line-height: 48px;
	margin: 0 0 40px;
}

.cc-product__specifications-title {
	font-size: 26px;
}

}

@media only screen and (min-width: 751px) and (max-width: 900px) {

.cc-search-results__item {
	width: calc(50% - 10px);
}

}

@media only screen and (min-width: 901px) {

.cc-search-results__item {
	width: calc(33.33333% - 10px);
}

}

@media only screen and (max-width: 900px) {

.cc-footer {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cc-footer__stats {
	display: none;
}

}

@media only screen and (max-width: 750px) {

.cc-container {
	padding: 0 16px;
}

.cc-sidebar {
	position: fixed;
	z-index: 9999999999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.cc-sidebar:after {
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.cc-sidebar.cc--closed {
	pointer-events: none;
}

.cc-sidebar.cc--closed:after {
	opacity: 0;
}

.cc-sidebar.cc--closed .cc-sidebar__container {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.cc-sidebar__container {
	max-width: 282px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: -webkit-transform 0.2s ease;
	transition: -webkit-transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
	transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.cc-sidebar__filter-list-container {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 50px;
}

.cc-sidebar__title {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.cc-sidebar__title .cc__close {
	display: block;
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	color: #212121;
	font-size: 16px;
}

.cc-sidebar__title .cc__close:hover {
	color: #212121;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.cc-sidebar__section:last-child {
	margin-bottom: 60px;
}

.cc-sidebar__apply {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 282px;
}

.cc-sidebar__apply .cc__apply-button {
	width: 100%;
}

.cc-phone-filter {
	position: fixed;
	z-index: 9999999998;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	border: 1px solid #EEEEEE;
	padding: 8px 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cc-phone-filter__button {
	width: 50%;
}

.cc-phone-filter__button .cc__open {
	display: block;
	outline: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: inherit;
	cursor: pointer;
	padding: 11px 20px;
	background-color: transparent;
	border: 1px solid #E0E0E0;
	color: #212121;
	font-size: 14px;
	font-weight: bold;
	border-radius: 50px;
	width: 100%;
}

.cc-phone-filter__button .cc__open > span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cc-phone-filter__button .cc__open .cc-icon {
	margin-right: 6px;
}

.cc-phone-filter__text {
	width: 50%;
	text-align: right;
	font-size: 12px;
	color: #B41E44;
}

.cc-search-results__item {
	width: 100%;
}

.cc-pagination__list li .next,
.cc-pagination__list li .prev {
	display: none;
}

.cc-product {
	padding: 24px 16px;
}

.cc-product__image {
	width: 100%;
	height: 320px;
	margin-bottom: 20px;
}

.cc-product__title {
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	margin: 0 0 20px;
}

.cc-product__specifications-title {
	font-size: 20px;
}

}

@-webkit-keyframes spin {

0% {
	-webkit-transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(360deg);
}

}

@keyframes spin {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

